html, body {
    margin: 8;
    padding: 8;

}

h1 {
 background-color: rgb(240, 49, 15);
 color: white;
 text-align: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 padding: 20px;
 border: solid black 2px;
}

#container {
    background-color: rgb(14, 65, 231);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid black 2px;
}

#img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: solid black 1px;
}

.name-title {
    color: white;
    background-color: rgb(240, 49, 15);;
}

#text {
    color: white;
    background-color: rgb(240, 49, 15);;
}

#calculate-total {
  width: 80px;
  height: 50px;
}

#total{
    background-color: rgb(240, 49, 15);
 color: white;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 border: solid black 2px;

}

#total-label{
    background-color: rgb(240, 49, 15);
 color: white;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 border: solid black 2px;

}

.info{
    background-color: rgb(14, 65, 231);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
